<launch>
    <!-- load urdf file to parameter server -->
    <!-- <param name="robot_description" textfile="$(find open_abcrover)/description/urdf/open_abcrover_indoor.urdf"/> -->
    <!-- <param name="robot_description" textfile="$(find open_abcrover)/description/urdf/open_abcrover_outdoor.urdf"/> -->
    <param name="robot_description" textfile="$(find open_abcrover)/description/urdf/indoor_realsense_test.urdf"/>

    <!-- launch gazebo in an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- generate an instance of the open_abcrover in the gazebo, and receive its description from the parameter server -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model open_abcrover"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>