<launch>
  <node name="arduino_interface" pkg="open_abcrover" type="arduino_interface.py" output="screen"/>
  <node name="velocity_controller" pkg="open_abcrover" type="classed_velocity_controller.py" output="screen"/>

  <node name="wheel_odometry" pkg="wheel_odometry" type="wheel_odometry_2wheel.py" output="screen">
    <param name="pulse_per_round" value="723.24"/>
    <param name="wheel_diameter" value="0.1524"/>
    <param name="tread" value="0.298"/>
  </node>

  <!-- use game pad at mode X -->
  <node name="joy_node"   pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="100"/>
    <param name="dev" value="/dev/input/js0"/>
  </node>

  <!-- use game pad at mode X -->
  <node name="teleop_twist_joy"   pkg="teleop_twist_joy" type="teleop_node">
    <param name="enable_button" value="4"/>
    <param name="enable_turbo_button" value="0"/>
    <param name="axis_linear" value="1"/>
    <param name="scale_linear" value="0.28"/>
    <param name="scale_linear_turbo" value="1.11"/>
    <param name="axis_angular" value="0"/>
    <param name="scale_angular" value="1"/>
  </node>

  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map frame 100"/>
</launch>
